.container {
    /* position: ; */
    margin-top: 7%;
    width: 85%;
    height: 100%;
    background:#303542;
}

.color-picker-container {
    text-align: center;
    display: inline;
    color: white;
}

.brushsize-container {
    display: inline;
    color: white;
    margin-left: 12px;
}

.tools-section {
    text-align: center;
}

.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
    background: white;
}