.form-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ip-op-editor{
    display: flex;
    
}
.text-ip-op{
    display: flex;
    text-align: center;
    width: 200%;
}
/* .editor-1{
    padding-top: 5px;
}
.editor-2{
    padding-top: 5px;
} */

.Output{
    padding-top: 5px;
}
.Input{
    padding-top: 5px;
}
.ide-container{
    /* display: flex; */
    width: 50%;
}
.wt-board{
    width: 50%;
}
.main-conatiner{
    display: flex;
    flex-direction: row;


}

.ide-low{
    width: 200%;
}